In [9]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info = pd.DataFrame(np.array(([3, 9]) * 4).reshape(4, 2), columns=['S', 'R'])
print("\nOriginal DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


Original DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

Sum of each column:
 S    12
R    36
dtype: int64

Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [11]:
info = pd.DataFrame(data=[[2, 4, 6], [1, 3, 5], [5, 8, 7]],index=[1, 3, 5],columns=['x', 'y', 'z'])
print("\nOriginal DataFrame:\n", info)
print("\nMinimum and maximum of each column:\n")
print(info.agg(['min', 'max']))

Original DataFrame:
    x  y  z
1  2  4  6
3  1  3  5
5  5  8  7

Minimum and maximum of each column:

     x  y  z
min  1  3  5
max  5  8  7

In [13]:
print("\nDataFrame.Assign function:\n")
d2=pd.DataFrame([['Sudeep',88],['Vinith',70]],columns=(['EMP','ID']))
print("\nOriginal DataFrame:\n",d2)
d2['Age']=[20,18]
print("\nAdding new columns:\n",d2)
d=d2.assign(sex=['Male','Male'])
print("\n Adding new columns:\n",d)

DataFrame.Assign function:


Original DataFrame:
       EMP  ID
0  Sudeep  88
1  Vinith  70

Adding new columns:
       EMP  ID  Age
0  Sudeep  88   20
1  Vinith  70   18

 Adding new columns:
       EMP  ID  Age   sex
0  Sudeep  88   20  Male
1  Vinith  70   18  Male

In [15]:
import pandas as pd
import numpy as np
print("\nDataFrame.sortFunction:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['A','B'])
print(info)
info2=info.sort_index()
print("\nSort index:\n",info2)
info3=info.sort_values(by='A')
print("\nSort values:\n",info3)

DataFrame.sortFunction:

          A         B
3  1.021131 -0.513529
2 -0.683735 -0.007821
0 -0.378883  0.622390
4  1.008087  0.098868
1  0.384549  0.440441

Sort index:
           A         B
0 -0.378883  0.622390
1  0.384549  0.440441
2 -0.683735 -0.007821
3  1.021131 -0.513529
4  1.008087  0.098868

Sort values:
           A         B
2 -0.683735 -0.007821
0 -0.378883  0.622390
1  0.384549  0.440441
4  1.008087  0.098868
3  1.021131 -0.513529

In [19]:
print("DataFrame merge function:\n")
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Ravi','Pavi','Yash'],'Sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['Sanjay','Ravi','Selvan','Raju'],'Sub':['sub1','sub4','sub3','sub2']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame merge function:

   id  Name   Sub
0   1   Sai  sub1
1   2  Ravi  sub2
2   3  Pavi  sub4
3   4  Yash  sub3
   id    Name   Sub
0   1  Sanjay  sub1
1   2    Ravi  sub4
2   3  Selvan  sub3
3   4    Raju  sub2
   id Name_x Sub_x  Name_y Sub_y
0   1    Sai  sub1  Sanjay  sub1
1   2   Ravi  sub2    Ravi  sub4
2   3   Pavi  sub4  Selvan  sub3
3   4   Yash  sub3    Raju  sub2