In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a  2.943245  0.493692  0.956790
b       NaN       NaN       NaN
c -0.286803  1.374660  1.069171
d -0.654881  1.211635  1.199854
e       NaN       NaN       NaN
f -0.136040 -1.573820  0.885618


Dropped DataFrame
         one       two     three
a  2.943245  0.493692  0.956790
c -0.286803  1.374660  1.069171
d -0.654881  1.211635  1.199854
f -0.136040 -1.573820  0.885618

In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("NaN replaced with '0'\n",df.fillna(0))
print("\n")

Original DataFrame:
         one       two     three
a  0.884874  0.315579 -1.275839
b       NaN       NaN       NaN
c  0.430822 -1.347433  0.299466


NaN replaced with '0'
         one       two     three
a  0.884874  0.315579 -1.275839
b  0.000000  0.000000  0.000000
c  0.430822 -1.347433  0.299466

In [5]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,0,10]})
print("Original DataFrame:\n",df)
print("\nDataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   30   80
3   40    0
4   50   10

DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30    3
3   40    0
4   50    5

In [7]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\nNaN with true fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a -0.672435  0.663337  1.151477
b       NaN       NaN       NaN
c -1.445369  0.117182  0.303088
d -0.033127  0.705355  1.570978
e       NaN       NaN       NaN
f  0.315335 -1.189353 -1.788464

NaN with true fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [13]:
print("\n NaN filled with background values:\n")
print(df.fillna(method='bfill'))

 NaN filled with background values:

        one       two     three
a -0.672435  0.663337  1.151477
b -1.445369  0.117182  0.303088
c -1.445369  0.117182  0.303088
d -0.033127  0.705355  1.570978
e  0.315335 -1.189353 -1.788464
f  0.315335 -1.189353 -1.788464

C:\Users\Dell\AppData\Local\Temp\ipykernel_17352\3566172659.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill'))

In [15]:
print(df.bfill())
print(df.ffill())

        one       two     three
a -0.672435  0.663337  1.151477
b -1.445369  0.117182  0.303088
c -1.445369  0.117182  0.303088
d -0.033127  0.705355  1.570978
e  0.315335 -1.189353 -1.788464
f  0.315335 -1.189353 -1.788464
        one       two     three
a -0.672435  0.663337  1.151477
b -0.672435  0.663337  1.151477
c -1.445369  0.117182  0.303088
d -0.033127  0.705355  1.570978
e -0.033127  0.705355  1.570978
f  0.315335 -1.189353 -1.788464