In [1]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'name':['alice','bob','charlie','alice','bob','charlie'],'categories':['A','B','C','A','B','C'],'value':np.random.randint(1,5,size=6),'score':np.random.randint(60,100,size=6)})
print("\n original DataFrame:\n",df)
df1=df.groupby(('name'),as_index=False)['value'].sum()
print("\n Group and aggregation with one column:\n",df1)

 original DataFrame:
       name categories  value  score
0    alice          A      2     88
1      bob          B      1     82
2  charlie          C      3     97
3    alice          A      4     63
4      bob          B      4     79
5  charlie          C      1     87

 Group and aggregation with one column:
       name  value
0    alice      6
1      bob      5
2  charlie      4

In [3]:
df2=df.groupby(('name'),as_index=False)[['value','score']].sum()
print("\n Group and aggregation with two column sum:\n",df2)

 Group and aggregation with two column sum:
       name  value  score
0    alice      6    151
1      bob      5    161
2  charlie      4    184

In [5]:
df3=df.groupby(('name'),as_index=False)['value'].agg('sum')
print("\n Group and aggregation with two column sum:\n",df3)

 Group and aggregation with two column sum:
       name  value
0    alice      6
1      bob      5
2  charlie      4

In [7]:
df4=df.groupby('name').agg({'value':['sum','mean','min','max'],'score':['sum','mean']})
print("\n Group by name multiple aggregation:\n",df4)

 Group by name multiple aggregation:
         value              score
          sum mean min max   sum  mean
name
alice       6  3.0   2   4   151  75.5
bob         5  2.5   1   4   161  80.5
charlie     4  2.0   1   3   184  92.0

In [9]:
df5=df.groupby(('name'),as_index=False)['value'].count()
print("\n Group and count:\n",df5)

 Group and count:
       name  value
0    alice      2
1      bob      2
2  charlie      2

In [11]:
df6=df.groupby(('name')).count()
print("\n Group and count:\n",df6)

 Group and count:
          categories  value  score
name
alice             2      2      2
bob               2      2      2
charlie           2      2      2

In [13]:
df7=df.groupby(('name'),as_index=False)['value'].first()
print("\n Group and display first:\n",df7)

 Group and display first:
       name  value
0    alice      2
1      bob      1
2  charlie      3

In [15]:
df8=df.groupby(('name')).first()
print("\n Group and count:\n",df8)

 Group and count:
         categories  value  score
name
alice            A      2     88
bob              B      1     82
charlie          C      3     97

In [17]:
df9=df.groupby(('name'),as_index=False)['value'].last()
print("\n Group and display from last:\n",df9)

 Group and display from last:
       name  value
0    alice      4
1      bob      4
2  charlie      1

In [19]:
df10=df.groupby(('name')).last()
print("\n Group and display from last:\n",df10)

 Group and display from last:
         categories  value  score
name
alice            A      4     63
bob              B      4     79
charlie          C      1     87

In [21]:
df11=df.groupby(('name'),as_index=False)['value'].size()
print("\n Group and display size:\n",df11)

 Group and display size:
       name  size
0    alice     2
1      bob     2
2  charlie     2

In [23]:
df12=df.groupby(('name')).size()
print("\n Group and display size:\n",df12)

 Group and display size:
 name
alice      2
bob        2
charlie    2
dtype: int64