In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
import pandas as pd
emp=pd.Series(['Dharan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'EMP':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

         EMP  ID
0     Dharan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [11]:
print("\nExtracting one column:\n")
print(result['EMP'])

Extracting one column:

0       Dharan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: EMP, dtype: object

In [13]:
print("\nAdding one column:\n")
result['ID']=pd.Series([80,90,28,56,89])
result['Age']=pd.Series([19,90,34,67,20])
print(result)

Adding one column:

         EMP  ID  Age
0     Dharan  80   19
1     Sudeep  90   90
2       Siva  28   34
3       Yash  56   67
4  Keerthana  89   20

In [17]:
print("\nDeleting new column:\n")
del result['Age']
print(result)

Deleting new column:

         EMP  ID
0     Dharan  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  89

In [23]:
print("\nExtracting the second row:\n")
print(result.loc[1])

Extracting the second row:

EMP    Sudeep
ID         90
Name: 1, dtype: object

In [25]:
print("\nSlice row:\n",result[1:4])

Slice row:
       EMP  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

In [35]:
d2=pd.DataFrame([['Vijay',100],['Rashid',112]],columns=['EMP','ID'])
print("\nAdding new row value:\n",pd.concat([result,d2]))

Adding new row value:
          EMP   ID
0     Dharan   80
1     Sudeep   90
2       Siva   28
3       Yash   56
4  Keerthana   89
0      Vijay  100
1     Rashid  112

In [37]:
print("\nDelete particular row:\n",result.drop(2))

Delete particular row:
          EMP  ID
0     Dharan  80
1     Sudeep  90
3       Yash  56
4  Keerthana  89